@font-face {
font-family: "YoungSerif";
src: url("fonts/YoungSerif-Regular.eot");
src:
url("fonts/YoungSerif-Regular.woff") format("woff"),
url("fonts/YoungSerif-Regular.woff2") format("woff2"),
url("fonts/YoungSerif-Regular.ttf") format("ttf"),
url("fonts/YoungSerif-Regular.svg") format("svg");
}

* {
      box-sizing: border-box;
}

html {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100vh;
      font-family: 'Space Mono', monospace;
      scroll-behavior: smooth;
      font-size: 16px;
}

body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100vh;
      font-family: 'Space Mono', monospace;
      font-weight: 400;
      color: #0E0F0F;
}

img {
  transition: transform 500ms;
}

img:hover,
img:focus {

  transform: scale(1.1);
    z-index: 1;

}

.timeholder {
  max-width: 100% !important;
}

.max-width {
  max-width: 100% !important;
}

.static-width {
  width: 100vw !important;
}

.ac-center {
  text-align: center;
}
  /* Fonts Sizes */

@media screen and (min-width: 310px) {
  html {
    font-size: calc(14px + 6 * ((100vw - 310px) / 680));
  }

  h1 {
    font-size: calc(24px + 18 * ((100vw - 310px) / 680));
  }

  h2 {
    font-size: calc(16px + 18 * ((100vw - 310px) / 680));
  }

  h3 {
    font-size: calc(12px + 12 * ((100vw - 310px) / 680));
  }

  .input {
    font-size: calc(12px + 6 * ((100vw - 310px) / 680));
  }

  .button {
    font-size: calc(14px + 6 * ((100vw - 310px) / 680));
  }
}


  /* Navigation Start */

.navbar {
    font-size: 16px;
    /*border: 1px solid rgba(0, 0, 0, 0.2);*/
    padding-bottom: 10px;
    padding-top: 48px;
    position: fixed;
    top: 0;
    z-index: 2;
    margin: auto;
    width: 100%;
    line-height: 26px;
  }

  .nav-wrapper {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #fff;
      z-index: 1;
      opacity: 1;
      transition: all 0.2s ease;
  }

  .logo-mobile {
    display: block;
    position: absolute;
    top: 23px;
    left: 23px;
    font-size: 24px;
    font-weight: bold;
  }

  .hide-desk {
    display: block;
  }

  .hide-desk .fas {
    margin-right: 10px;
  }

  .break {
    padding-top: 50px !important;
  }

 a {
    transition: color 0.5s ease;
    color: #0E0F0F;
  }
  a:visited {
       transition: color 0.5s ease;
       color: #0E0F0F;
      }
 a:hover {
      color: #E19900;
    }

p span {
    display: block;
  }

.main-nav {
    list-style-type: none;
    background-color: none;
    z-index: 9999;
}

.lng-nav {
    list-style-type: none;
    background-color: none;
    z-index: 9999;
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}


.logo {
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    margin-top: 5px;
    margin-left: 20px;
    z-index: 3;
    transform: rotate(-270deg);
    -webkit-transform: rotate(-270deg);
    -moz-transform: rotate(-270deg);
    -ms-transform: rotate(-270deg);
    -o-transform: rotate(-270deg);

}

.decor {
  text-decoration: none !important;
  transition: -webkit-text-fill-color 0.8s ease;
  -webkit-text-fill-color: #0E0F0F !important; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px !important;
  -webkit-text-stroke-color: #0E0F0F !important;
}

.decor:hover {
  text-decoration: none !important;
  -webkit-text-fill-color: transparent !important; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px !important;
  -webkit-text-stroke-color: #0E0F0F !important;
}

.navbar-toggle {
    position: absolute;
    top: 23px;
    right: 23px;
    cursor: pointer;
    font-size: 24px;
    z-index: 3;
}

.navbar-toggle:hover {
  color: #E19900;
}

.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.acimg {
  padding-bottom: 25px;
}

  /* Navigation Ende */

.section {

      max-width: 100%;
      min-height: 100vh;
      margin: auto;
      background-color: #FFFFFF;
      padding-top: 10vh;
      padding-bottom: 10vh;
      position: relative;
      border-color: #e74c3c;
      border-width: 1px;
      display: flex;
      flex-direction: column;
      justify-content: center;
}

.title {
  margin: auto;
}

.button:hover {
  text-decoration: none;
}

.button {
  background-color: #FFFFFF;
  transition: border-color 0.5s ease;
  border: 2px solid #0E0F0F;
  color: #0E0F0F;
  transition: color 0.5s ease;
  padding: 13px 39px;
  text-align: center;
  text-decoration: none;
  display: inline;
  margin: auto;
  margin-top: 39px;
  cursor: pointer;
}

.button:hover {
    border-color: #E19900;
   }

.button-left {
  background-color: #FFFFFF;
  transition: border-color 0.5s ease;
  outline: 5px solid #FFFFFF;
  border: 2px solid #0E0F0F;
  color: #0E0F0F;
  transition: color 0.5s ease;
  font-size: 20px;
  padding: 13px 39px;
  text-align: center;
  text-decoration: none;
  display: inline;
  margin-left: auto;
  margin-top: 39px;
  cursor: pointer;
}

.button-left:hover {
   border-color: #E19900;
   color: #E19900;
}

.columns .tabs {
  margin: 1rem 0 1.5rem !important;
  display: flex;
  min-height: 60px;
  line-height: 60px;
  max-width: 100% !important;
}

.column .tablinks {
  display: block;
}
.col-3 .tablinks {
  width: 23%;
}

.tablinks {
  background-color: #FFFFFF;
  outline: 2px solid #0E0F0F;
  transition: outline-color 0.9s ease;
  outline-offset: -4px;
  color: #0E0F0F;
  transition: color 0.9s ease;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: color .6s, outline-color .7s ease-out;
  -moz-transition: color .6s, outline-color .7s ease-out;
  -o-transition: color .6s, outline-color .7s ease-out;
  transition: color .6s, outline-color .7s ease-out;
}


.tablinks:hover {
    outline-color: #E19900;
    color: #E19900;
   }

.tablinks.active {
   border-color: #E19900;
   color: #E19900;
  }

 .tablinks.btnactive {
  outline-color: #E19900 !important;
  color: #E19900 !important;
  }

  /* timeline */

  .column .timelinks {
    display: block;
  }
  .col-3 .timelinks {
    width: 23%;
  }

  .timelinks {
    background-color: #FFFFFF;
    color: #0E0F0F;
    transition: color 0.9s ease;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: color .6s, outline-color .7s ease-out;
    -moz-transition: color .6s, outline-color .7s ease-out;
    -o-transition: color .6s, outline-color .7s ease-out;
    transition: color .6s, outline-color .7s ease-out;
    padding-bottom: 50px;
  }


  .timelinks:hover {
      color: #E19900;
     }

  .timelinks.active {
     color: #E19900;
    }

   .timelinks.timeactive {
    color: #E19900 !important;
    }

    .timecontent {
     display: none !important;
    }

    .timetabactive {
      display: flex !important;
    }


    .timemobilelinks {

      background-color: #FFFFFF;
      color: #0E0F0F;
      transition: color 0.9s ease;;
      text-decoration: none;
      cursor: pointer;
      -webkit-transition: color .6s, outline-color .7s ease-out;
      -moz-transition: color .6s, outline-color .7s ease-out;
      -o-transition: color .6s, outline-color .7s ease-out;
      transition: color .6s, outline-color .7s ease-out;
    }


    .timemobilelinks:hover {
        color: #E19900;
       }

    .timemobilelinks.active {
       color: #E19900;
      }

#intro {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.columns {
  max-width: 75%;
  margin: auto;
}

.special {
  min-width: 100% !important;
}

.column {
  align-content: center;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

 h1 {
  font-family: 'YoungSerif', serif;
}

.hero {
  padding-top: 17.5vh;
}

.hero h1 {
      font-family: 'YoungSerif', serif;
      text-align: center;
}

.hero h2 {
      text-align: center;
}

.imgdiv {
  justify-content: center;
}

.svgdiv {
  justify-content: center;
  margin-top: 1rem;
  margin-top: 250px;
  padding-bottom: 175px;
  display: none;
}

.svgdiv-mobile {
  justify-content: center;
  display: block;
}

.svgdiv-mobile svg {
  min-height: 0;
  transform: rotate(-90deg);
  height: 70vw;
}


img {
  width: 98.9%;
  object-fit: contain;
}

.centered {
  position: relative;
}

.centercontent {
  align-items: center;
}

/* Input */

form {
  width: 100%;
  display: inline-grid;
}

.input {
  background-color: transparent;
  border: none;
  border-bottom: 0.5px solid #0E0F0F;
  border-radius: 0;
  outline: none;
  height: 45px;
  padding-top: 10px;
  width: 100%;
  margin: 0 0 8px 0;
  overflow: hidden;
  resize: none;
  margin-bottom: 25px;
}

.reverse {
  display: flex;
  flex-direction: column-reverse;
}

.flexcolumn {
  flex-flow: column;
}

.cls-1 {
  stroke: #0E0F0F;

}
.cls-2, .cls-3 {
  stroke: #E19900;
  display: none;
}

.tabcontent {
 display: none;
}

.tabactive {
  display: block;
}

svg {
  width: 100%;
}

#part {
  height: 60vh;
}

.big {
  min-height: 60vh;
  flex-direction: row;
}

.row {
  flex-direction: column;
}

  /* Vertical Menu */

  .vertical-menu {
  position: fixed;
  z-index: 999999;
  width: 16vw;
  left: -2vw;
  height: 90vh;
  display: none;
  flex-direction: column;
  transform-origin: center center;
  top:5%
  }

  .top-lng {

  display: none;
  flex-direction: column;
  margin-bottom: auto;
  text-align: center;

  }

  .logo-container {

  margin: auto;



  }

  .logo-container a {
  display: block;
  transform-origin: center center;
  transform: rotateZ(-90deg);
  font-weight: bold;
  font-size: 3vw;
  white-space: nowrap;


  }

  .button-container {
  margin-top: auto;
  text-align: center;
  display: none;
  }

.lingoactive {
  color: #E19900;
  text-decoration: underline;
}


.placeholder {
  min-height: 60vh;
}

.timetabs {
  min-width: 80vw;
}

@media screen and (min-width: 768px) {


  .logo-mobile {
    display: none;
  }

  /* Vertical Menu */

  .vertical-menu {
  position: fixed;
  z-index: 999999;
  width: 16vw;
  left: -2vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  transform-origin: center center;
  top:5%
  }

  .top-lng {

  display: flex;
  flex-direction: column;
  margin-bottom: auto;
  text-align: center;

  }

  .top-lng a {

    padding-top: 10px;

  }

  .logo-container {

  margin: auto;



  }

  .logo-container a {
  display: block;
  transform-origin: center center;
  transform: rotateZ(-90deg);
  font-weight: bold;
  font-size: 3vw;
  white-space: nowrap;



  }

  .button-container {
  margin-top: auto;
  text-align: center;
  display: block;
  }

 /* Vertical Menu End */
  .hide-desk {
    display: none;
  }

  .section {
        max-width: 90%;
  }

  .columns {
    max-width: 100%;
  }

  .crop {
        max-width: 60%;
  }

    /* Navigation Start */
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
        width: 90%;
        margin: auto;
    }
    .nav-wrapper {
        display: block;
        padding-top: 32px;
        height: 0px;
    }
    .main-nav {
        display: inline-flex;
        right: 5%;
        position: fixed;
    }

    .lng-nav {
        display: inline-flex;
        position: fixed;
    }

    .lng-nav li {
        margin: 0;
    }

    .main-nav li {
        margin: 0;
    }
    .nav-links {
        margin-left: 40px;
        font-weight: bold;
    }
    .logo {
        margin-top: 0;
        font-weight: bold;
    }
   .navbar-toggle {
       display: none;
    }

    img {
      width: 100%;
    }

    .big {
      min-height: 75vh;
    }

    .hero {
      padding-top: 25vh;
    }


  @media screen and (min-width: 960px) {

    html {
        font-size: 18px;
      }

    h1 {
      font-size: 2rem;
    }

    h2 {
      font-size: 1.6rem;
    }

    h3 {
      font-size: 1.2rem;
    }

    .crop {
          max-width: 80%;
    }

    .big {
      min-height: 75vh;
      flex-direction: row-reverse;
    }

    .input {
      font-size: 16px;
    }

    .button {
      font-size: 20px;
    }

    .svgdiv {
      display: block;
    }

    .tabcontent {
      min-height: 700px;
    }

  }

  @media screen and (min-width: 1300px) {
    svg {
        max-height: 75vh;
      }

    .svgdiv {
      padding-bottom: 100px;
    }
  }

  @media screen and (min-width: 1920px) {

    /* Vertical Menu */

    .vertical-menu {
    width: 16vw;
    left: -2vw;
    }

    .logo-container a {
    display: block;
    transform-origin: center center;
    transform: rotateZ(-90deg);
    font-weight: bold;
    font-size: 3vw;
    white-space: nowrap;

    }

    .hero {
      padding-top: 17.5vh;
    }

    .tabcontent {
      min-height: 800px;
    }

    .svgdiv {
      padding-bottom: 50px;
    }

    svg {
      max-height: 65vh;
    }

  }

  /* Animate Duration */

:root {
  --animate-duration: 1500ms;
  --animate-delay: 0.2s;
}

.animate__animated.animate__fadeIn {
  --animate-duration: 2s;
}

.timeholder {
  overflow: hidden !important;
  overflow-x: hidden !important;
  max-width: 100% !important;
  min-height: 50vh;
}

.columns.col-oneline {
  overflow: hidden !important;
  overflow-x: hidden !important;
}

.column .col-12 h1 {
  margin: auto;
  padding-bottom: 50px;
}
